﻿
@{
    ViewBag.Title = "Index";
	ViewBag.Angular = "ng-app=Example";
	ViewBag.Menu = "example";
}

<div ng-view></div>

@section Scripts {
	<script src="~/content/modules/example/app.js"></script>
	<script src="~/content/modules/example/controllers.js"></script>
}